<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <img src="assets/logo.png" width="150" />
    </div>
  </div>
  <div class="row coins">
    <div class="col-md-12 details">{{ balance | number:'1.2-2' }}</div>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-md-4 col-sm-push-4 current">
      <div class="row">
        <div class="col-md value">${{ balance * sigt.Value * btc.Value | number:'1.2-2' }}</div>
      </div>
      <div class="row">
        <div class="col-md sigt">SIGT: {{ sigt.Value | number:'1.8-8' }}</div>
      </div>
      <div class="row">
        <div class="col-md details">BTC: ${{ btc.Value | number:'1.2-2' }}</div>
      </div>
      <div class="row">
        <div class="col-md details">SIGT: ${{ sigtValue | number:'1.4-4' }}</div>
      </div>
    </div>
    <div class="col-md-4 col-sm-pull-4 low">
      <div class="row">
        <div class="col-md value">${{ balance * sigt.Low * btc.Low | number:'1.2-2' }}</div>
      </div>
      <div class="row">
        <div class="col-md sigt">SIGT: {{ sigt.Low | number:'1.8-8' }}</div>
      </div>
      <div class="row">
        <div class="col-md details">BTC: ${{ btc.Low | number:'1.2-2' }}</div>
      </div>
      <div class="row">
        <div class="col-md details">SIGT: ${{ sigt.Low * btc.Low | number:'1.4-4' }}</div>
      </div>
    </div>
    <div class="col-md-4 high">
      <div class="row">
        <div class="col-md value">${{ balance * sigt.High * btc.High | number:'1.2-2' }}</div>
      </div>
      <div class="row">
        <div class="col-md sigt">SIGT: {{ sigt.High | number:'1.8-8' }}</div>
      </div>
      <div class="row">
        <div class="col-md details">BTC: ${{ btc.High | number:'1.2-2' }}</div>
      </div>
      <div class="row">
        <div class="col-md details">SIGT: ${{ sigt.High * btc.High | number:'1.4-4' }}</div>
      </div>
    </div>
  </div>
  <div class="row addresses">
    <div class="col-md-12">
      {{ addresses }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input #addressInput/>
      <button (click)="setAddresses(addressInput.value)">Submit</button>
    </div>
  </div>
</div>